@font-face{
    font-family: Mont;
    src: url('GoogleSansDisplay.ttf');
  }
  *{
    margin: 0;
    padding: 0;
    font-family: Mont;
  }
  #admin_dashboard input{
    padding: 12px;
    border: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 10px;
    border-left: 5px solid #4285F4;
    border-radius: 0px;
  }
  #admin_dashboard input:focus{
    border: 1px solid #4285F4;
    transition: 0.2s;
  }